# Python
venv/
__pycache__/
*.pyc
*.pyo
*.db
data/

# Secrets
.env
server/firebase-credentials.json
android/mobile/google-services.json
android/wear/google-services.json

# Android
android/.gradle/
android/build/
android/mobile/build/
android/wear/build/
*.apk
*.aab
local.properties

# IDE
.idea/
*.iml
.vscode/
